*{
    background-color: rgb(27, 27, 27);
}
#cabeza{
    font-size: 2cm;
    position: relative;
    top: 2cm;
    text-align: center;
    color: rgb(255, 255, 255);
	font-optical-sizing: auto;
	font-style: normal;
	font-family: "Pixelify Sans", sans-serif;
}
#introduccion{
    font-size: medium;
    text-align: justify;
    position: relative;
    top: 10cm;left:8.5cm;
    color:whitesmoke;
    display: block;
}
.principal{
    position: relative;
    right: 12cm; top:8cm;
}
#proyectos{
    color: white;
    position: relative;
    left: 35cm;
    top:5cm;
}
ul{
    list-style: none;
}
li{
    padding-top: 21px;
}
.titulo{
    padding-left: 10px;
}
.gmail{
    width: 30px;
    height: 30px;
}
.link{
    width: 30px;
    height: 30px;
}
.github{
    width: 35px;
    height: 35px;
    position: relative;
    top: 2px;
    left: 1px;
}
#redes{
    position: relative;
    left: 1700px;

}
.github:hover {
    transform: scale(1.2);
}
.gmail:hover{
    transform: scale(1.2);
}
.link:hover{
    transform: scale(1.2);
}
a{
    text-decoration: none;
    color: white;
}
.pro1:hover{
    font-weight: 12;
    font-size: 18px;
}
.pro2:hover{
    font-weight: 12;
    font-size: 18px;
}
.pro3:hover{
    font-weight: 12;
    font-size: 18px;
}