*{
    background-color: rgb(27, 27, 27);
}
@font-face {
    font-family: tangerine;
    src: url(/fonts/Tangerine-Regular.ttf);
}
#cabeza{
    font-size: 2cm;
    position: relative;
    top: 2cm;
    text-align: center;
    right: 3cm;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-family:tangerine ;
}
#introduccion{
    font-size: medium;
    text-align: justify;
    position: relative;
    top: 2cm;left:15cm;
    color:whitesmoke;
    display: block;
}
